services:
  pr-manager-service:
    build:
      context: ../pr-manager-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ../pr-manager-service/.env 
    depends_on:
      - postgres-db
    networks:
      - services-network

  postgres-db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpassword
      POSTGRES_DB: pr-manager-db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - services-network

  prometheus:
    image: prom/prometheus:v2.54.0
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=24h"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - pr-manager-service
    networks:
      - services-network

  loki:
    image: grafana/loki:2.9.0
    command: -config.file=/etc/loki/config.yml
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yml:/etc/loki/config.yml:ro
      - loki_data:/loki
    networks:
      - services-network

  promtail:
    image: grafana/promtail:2.9.0
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/log:/var/log:ro
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
    depends_on:
      - loki
    networks:
      - services-network

  grafana:
    image: grafana/grafana:11.0.0
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
    depends_on:
      - prometheus
      - loki
    networks:
      - services-network

  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8082:8080"
    environment:
      SWAGGER_JSON: /api/openapi.yml
    volumes:
      - ../docs/contracts/pr-manager-service-openapi.yml:/api/openapi.yml:ro
    networks:
      - services-network

  node-exporter:
    image: prom/node-exporter:v1.8.2
    container_name: node-exporter
    ports:
      - "9100:9100"
    networks:
      - services-network

networks:
  services-network:
    driver: bridge

volumes:
  db_data:
  prometheus_data:
  loki_data:
